.apiList {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  background: #efefef;
  align-self: stretch;
}

.api:hover {
  cursor: pointer;
}

.api {
  margin: 20px;
  flex: 0 0 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #aaa;
  height: 150px;
  text-transform: uppercase;
  background: linear-gradient(#fff,#efefef);
  background-image: url('../../../build/images/api.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  color: maroon;
  font-weight: bold;
  box-shadow: 0 0 2px steelblue;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  transition: all 0.25s;

  .title {
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 50px;
    max-width: 200px;
  }
}

.api:hover {
  opacity: 1;
}

.deleteApiIcon {
  position: absolute;
  right: 5px;
  top: 0;
  color: maroon;
  opacity: 0.3;
  transition: 0.25s;
}

.deleteApiIcon:hover {
  opacity: 1;
}
