.apiList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  align-self: stretch;
}

.api:hover {
  cursor: pointer;
}

.api {
  height: 130px;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #aaa;
  // background: linear-gradient(#fff,#efefef);
  // background-image: url('../../../build/images/api.png');
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // box-shadow: 0 0 2px #cfcfcf;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  transition: all 0.25s;
  padding: 20px;

  .title {
    margin: 10px;
    color: steelblue;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 50px;
    text-transform: uppercase;
  }

  .description {
    margin: 10px;
    color: #666;
    font-size: 1em;
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.api:hover {
  opacity: 1;
  background-color: #efefef;
}

.deleteApiIcon {
  font-size: 1.5em;
  position: absolute;
  right: 10px;
  top: 10px;
  color: maroon;
  opacity: 0.1;
  transition: 0.25s;
}

.deleteApiIcon:hover {
  opacity: 1;
}

.apis-enter {
  opacity: 0.01;
}

.apis-enter.apis-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.apis-leave {
  opacity: 1;
}

.apis-leave.apis-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.apis-appear {
  opacity: 0.01;
}

.apis-appear.apis-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
