.spinner {
  height: 32px;
  width: 32px;
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  background-image: url('../../../build/images/ajax-loader.gif');
  background-repeat: no-repeat;
}