.spinner {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 200px;
  color: #ccc;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 100px);
  transition: all 0.5s ease-in-out;
}

.spinner.hide {
  visibility: hidden;
  opacity: 0;
}