@import '../../variables';

.filter {
  position: relative;
  margin: 30px auto;
  display: flex;
  height: 40px;
  width: 50%;
  border: $border;
  align-items: center;

  input[type="text"] {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    color: $input-color;
    margin-right: 10px;
    outline-style: none;
  }

  .fa {
    color: $input-color;
    margin: 0 10px 0 10px;
  }
}