$font-stack:    Helvetica, sans-serif;
$font-shadow: 0 0 5px #ccc;
$primary-color: #666;

$background-color: #efefef;

$input-color: #999;

$border: 1px solid #ccc;

$input-shadow: 0 0 5px orange;

$primary-shadow: 1px 1px 2px #ddd;

$primary-button-color: skyblue;
$primary-button-color-hover: deepskyblue;

$secondary-button-color: indianred;
$secondary-button-color-hover: darkred;