
@import '../../variables.scss';

.api-add {
  height: 350px;
  width: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 10px 10px;
  box-shadow: $primary-shadow;
  background-color: $background-color;
  background-image: url('../../../build/images/doc.png');
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: 115% -10%;

  .form-add{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-group{
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

    label {
    flex: 1;
  }

  textarea {
    font-family: inherit;
    resize: none;
    padding: 5px;
  }

  input, textarea {
    flex: 2;
    border: $border;
    border-radius: 2px;
    padding: 5px;
  }

  input:focus, textarea:focus {
    box-shadow: $input-shadow;
  }

  input:hover {
    border: $border;
  }
}

button {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: $border;

  i {
    margin-right: 5px;
    color:white;
  }
}

.button-add{
  background-color: $primary-button-color;
  color: white;
  margin-right: 5px;
}
.button-add:hover {
  cursor: pointer;
  background-color: $primary-button-color-hover;
}

.button-cancel{
  margin-left: 5px;
  color: white;
  background-color: $secondary-button-color;
}

.button-cancel:hover{
  cursor: pointer;
  background-color: $secondary-button-color-hover;
}
}

