.input-lg {
  color: steelblue;
  font-size: 1.5em;
}
.input-sm {
  color: #444;
  font-size: 1.2em;
}

.api-add-detail {
  width: 40%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  h1 {
    border: none;
    color: orange;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  .form-api-add-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 50px;
  }

  .input-group{
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    label {
      align-self: center;
      margin-right: 20px;
    }

    select {
      width: 100px;
    }

    input[type="text"]{
      flex: 1;
      display: flex;
      align-self: stretch;
      border: none;
      border-bottom: 1px solid #ccc;
      background: inherit;
    }

    input[type="text"]:hover{
      border: none;
      border-bottom: 1px solid #ccc;
    }

    input[type="text"]:focus{
      border: none;
      border-bottom: 1px solid #ccc;
    }
  }

  .input-group-response {
    display: flex;
    flex-direction: column;

    .input-group-response-title {
      display: flex;
      flex-direction: row;

        .icon-add {
          align-self: center;
          color: green;
        }

        .icon-add:hover {
          cursor: pointer;
        }
    }

    .response-container {
      display: flex;
      flex-direction: column;

        .response-item{
          padding: 15px;
          position: relative;
          margin: 10px auto;
          width: 50%;
          border: 1px solid #efefef;
          display: flex;
          flex-direction: column;

          .icon-delete {
            font-size: 30px;
            color: maroon;
            position: absolute;
            right: 0;
            top: 0;
            left: 102%;
            opacity: 0.3;
            transition: 0.25  ease;
          }

          .icon-delete:hover {
            cursor: pointer;
            opacity: 0.8;
          }
          label {
            flex:4;
          }

          input[type="text"]{
            flex:8;
          }
      }
    }
  }

  button {
    width: 100px;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
  }
}