@import '../../variables.scss';

.flex-10 {
  flex: 10;
}

.flex-8 {
  flex: 8;
}

.flex-4 {
  flex: 4;
}

.flex-2 {
  flex: 2;
}

.api-add-detail {
  margin: 50px auto;

  h1{
    color: orange;
    text-align: right;
    text-shadow: $font-shadow;
    text-transform: uppercase;
  }

  form > * {
    margin-bottom: 20px;
    line-height: 1.5em;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .input-group {
      display: flex;
      flex-direction: row;
      line-height: 1.5em;
      align-items: center;

      input[type="text"], select{
        border: $border;
        line-height: 1.3em;
        font-size: 1.1em;
        color: $input-color;
        padding-left: 10px;
        margin-right: 20px;
      }

      input[type="text"]:focus, select:focus{
        box-shadow: $input-shadow;
      }

      input[type="checkbox"]{
        margin-left: 10px;
      }

      label {
        margin-right: 10px;
        text-align: right;
        color: $primary-color;
      }

      .input-group-add {
        display: flex;
        flex-direction: row;
        align-items: center;

        .fa {
          color: green;
          font-size: 1.2em;
          margin-left: 20px;
        }

        .fa:hover {
          cursor: pointer;
        }
      }
    }

    .input-group#successResponseContainer{
      background: rgba(0,255,0,0.1);
      border-left: 10px solid green;
    }
    .input-group#errorResponseContainer{
      background: rgba(128,0,0,0.1);
      border-left: 10px solid maroon;
    }
    .input-group#urlParams{
      background: rgba(70,130,180,0.1);
      border-left: 10px solid steelblue;
    }
    .input-group#dataParams{
      background: rgba(255,165,0,0.1);
      border-left: 10px solid orange;
    }

    .input-group#successResponseContainer,
    .input-group#errorResponseContainer,
    .input-group#urlParams,
    .input-group#dataParams
    {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      padding-bottom: 10px;
      border-radius: 0 10px 10px 0;
      width: calc(100% - 10px);

      .response-container {
        position: relative;
        width: 100%;
        border-bottom: $border;

        .delete-icon {
          position: absolute;
          font-size: 16px;
          line-height: 16px;
          color: maroon;
          opacity: 0.3;
          left: 20px;
          transition: opacity 0.25s;
          top: calc(50% - 8px);
        }

        .delete-icon:hover {
          cursor: pointer;
          opacity: 0.8;
        }

        .input-group {
          margin: 10px 0 10px 50px;
        }
      }

      .response-container:last-child{
        border: none;
      }
    }

    button {
      background: $primary-button-color;
      height: 40px;
      width: 200px;
      margin: 20px auto;
      border: 1px solid #efefef;
      font-size: 1.1em;
      font-weight: bold;
      transform: color 0.25s ease;
      color: white;

      .fa {
        margin-right: 10px;
      }
    }

    button:hover {
      background: $primary-button-color-hover;
      cursor: pointer;
    }
  }
}