.flex-8 {
  flex: 8;
}

.flex-4 {
  flex: 4;
}

.flex-2 {
  flex: 2;
}

.api-add-detail {
  margin: 50px auto;

  h1{
    color: orange;
    text-align: right;
    text-shadow: 0 0 5px #ccc;
    text-transform: uppercase;
  }

  form > * {
    margin-bottom: 20px;
    line-height: 1.5em;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .input-group {
      display: flex;
      flex-direction: row;
      line-height: 1.5em;
      align-items: center;

      input[type="text"], select{
        border: 1px solid #efefef;
        border-radius: 5px;
        line-height: 1.3em;
        font-size: 1.1em;
        color: #666;
        padding-left: 10px;
        margin-right: 20px;
      }

      input[type="text"]:focus, select:focus{
        box-shadow: 0 0 4px steelblue;
      }

      label {
        margin-right: 10px;
        text-align: right;
        color: #333;
      }

      .response-group {
        display: flex;
        flex-direction: row;
        align-items: center;

        .fa {
          color: green;
          font-size: 1.2em;
          margin-left: 20px;
        }
      }
    }

    .input-group#successResponseContainer, .input-group#errorResponseContainer {
      background: #dfdfdf;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      padding-bottom: 10px; 
      border-radius: 0 10px 10px 0;
      width: calc(100% - 10px);
      border-left: 10px solid steelblue;

      .response-container {
        width: 100%;

        .response-item {
          border-bottom: 1px solid #efefef;
        }

        .response-item:last-child{
          border: none;
        }

        .input-group {
          margin: 10px 0 10px 0;
        }
      }
    }   

    button {
      background: hotpink;
      height: 40px;
      width: 200px;
      margin: 20px auto;
      border: 1px solid #efefef;
      border-radius: 5px;
      font-size: 1.1em;
      font-weight: bold;
      color: pink;

      .fa {
        margin-right: 10px;
      }
    }

    button:hover {
      cursor: pointer;
      background: darkmagenta;
      color: white;
    }
  }
}