.method {
  position: relative;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px 2px;
  box-shadow: 2px 2px 2px #efefef;
}

.tools {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  .tools-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;

    p{
      font-size: 0.8em;
      padding: 0;
      text-align: center;
      color: #666;
    }
  }
}

.box {
  margin-top: 20px;
  width: 70%;

  .fa {
    font-size: 2em;
    transition: 0.25s ease;
    opacity: 0.6;
  }

  .fa:hover {
    cursor: pointer;
    opacity: 1;
  }

  .add-method-button{
    color: green;
  }
}

h1, h3, p {
  margin: 0;
  padding: 10px;
}

h1{
  border-bottom: 1px solid #dfdfdf;
}

.responses li {
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.code {
  background: #efefef;
  font-family: monospace;
  padding: 0 5px 0 5px;
  color: #333;
}

.delete-method-icon {
  color: red;
  position: absolute;
  right: 10px;
  top: 5px;
}